$white:           #fff;
$black:           #000;
$gray:            #272727;
$alpha:           #3fd53D;

$font-primary:    'Staatliches', cursive;
$font-secondary:  'Be Vietnam', sans-serif;
$font-tertiary:   'Oswald', sans-serif;


